<form role="form">
    <div class="form-group">
        <label for="inputEmail">Name</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Enter name" ng-model="user.name" required="">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.pass" required="">
    </div>
    <button type="submit" class="btn btn-success btn-xs" ng-click="login(user)" ng-disabled="form1.$invalid">Bla</button>  
</form>