<div class="panel panel-primary">
	<div class="panel-heading">
		<p class="panel-title">Aktuelle Gigs</p>
	</div>
	<div class="panel-body"> <!-- style="max-height: 450px;overflow-y: scroll;" -->
		<div class="form-group">
			<input type="text" class="form-control" ng-model="query" placeholder="Search">
			<!-- <select class="form-control" ng-model="orderProp">
				<option value="-terminpos">Neueste Zuerst</option>
				<option value="terminpos">Älteste Zuerst</option>
				<option value="event2">Name</option>
			</select> -->
		</div>
		<ul class="list-unstyled">
			<li ng-repeat="gig in gigs | filter:query | orderBy:orderProp">
				<div class="panel panel-default">
					<div class="panel-body">
						<a ui-sref="gigs.details({gigId: gig.id})">{{ gig.termin }} - {{ gig.event2 }}</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>