<div class="row">
	<div class="col-lg-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<p class="panel-title">Menü</p>
			</div>
			<div class="pa-sidebar">
				<ul class="nav nav-list nav-stacked">
					<!--ng-class="{ active: $state.includes('gigs.list') }"-->
					<li><a ui-sref=".list">All Gigs</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div ui-view></div>
	</div>
	<div class="col-lg-5">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Kalender</h3>
				<a ui-sref=".add" class="btn btn-default btn-xs pull-right">Neuer Gig</a>
			</div>
			<div class="panel-body" ng-controller="CalendarCtrl">
				<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
				<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
					<h4>{{alertMessage}}</h4>
				</div>
			</div>
		</div>
	</div>
</div>