<!--<div class="bs-example">
    <div class="form-group">
        <p>Welcome : <span>{{user.name}}</span></p>
        <div class="col-xs-2">
            <label label-default="" for="exampleInputName1">Name</label>
            <input type="text" placeholder="Enter name" class="form-control"
            ng-model="user.name" required="">
        </div>
    </div>
    <div class="form-group">
        <label label-default="" for="inputPassword">Password</label>
        <input type="password" placeholder="Password" id="inputPassword"
        class="form-control" ng-model="user.pass" required="">
    </div>
    <button type="button" class="btn btn-success btn-xs" ng-click="login(user)" ng-disabled="form1.$invalid">BLABLABLA</button>
    <p>{{msgtxt}}</p>
</div> 
-->

<form role="form">
    <div class="form-group">
        <label for="inputEmail">Name</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Enter name" ng-model="user.name" required="">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.pass" required="">
    </div>
    <button type="submit" class="btn btn-success btn-xs" ng-click="login(user)" ng-disabled="form1.$invalid">Bla</button>  
</form>